

<!-- <div class="container pt-1">
	<div class="row">
	  <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
		<div class="card border bg-white">
		  <div class="card-header">
			<h3 class="pt-3 font-weight-bold text-center">Register</h3>
		  </div>
		  <div class="card-body p-3">
			<form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
				<div class="">
					
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="fristName" class="form-control" placeholder="Frist name" type="text">
					</div> 
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="lastName" class="form-control" placeholder="Last name" type="text">
					</div> 
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
						</div>
						<input formControlName="phone" class="form-control" placeholder="Phone" type="text">
					</div> 
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						</div>
						<input formControlName="age" class="form-control" placeholder="Age" type="text">
					</div> 
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-building"></i> </span>
						</div>
						<select class="form-control" formControlName="roleId">
							<option selected="" value=""> กรุณาเลือก Role</option>
							<option *ngFor="let item of roleList" value="{{item.id}}">{{item.roleName}}</option>
						</select>
					</div> 
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="userName" class="form-control" placeholder="username" type="text">
					</div> 
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input formControlName="password" class="form-control" placeholder="password" type="password" >
					</div> 
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input formControlName="confirmPassword" class="form-control" placeholder="confirmPassword" type="password">
					</div>    
					<div>
						<p *ngIf="isPassword"> กรุณากรอก Password ให้ตรงกันกับด้านบ้านด้วยค่ะ </p>
					</div>                                 
					<div class="form-group">
						<button type="submit" class="btn btn-dark btn-block"> Save Account  </button>
					</div>      
				</div>                                                             
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </div> -->


  <div class="container px-4 px-md-5 text-center text-lg-start">
	<div class="row gx-lg-5 align-items-center mb-5">
	  <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
		<h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
		  <!-- The best offer <br /> -->
		  <span style="color:  hsl(218, 81%, 75%)">ลงทะเบียน</span>
		</h1>
		<!-- <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
		  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
		  Temporibus, expedita iusto veniam atque, magni tempora mollitia
		  dolorum consequatur nulla, neque debitis eos reprehenderit quasi
		  ab ipsum nisi dolorem modi. Quos?
		</p> -->
	  </div>
  
	  <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
		<div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
		<div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
		<div class="card bg-glass">
		  <div class="card-body px-4 py-5 px-md-5">
			<form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
				<div class="">
					
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="fristName" class="form-control" placeholder="ชื่อ" type="text">
					</div> <!-- form-group// -->
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="lastName" class="form-control" placeholder="นามสกุล" type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
						</div>
						<input formControlName="phone" class="form-control" placeholder="เบอร์โทร" type="text">
					</div> <!-- form-group// -->
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						</div>
						<input formControlName="age" class="form-control" placeholder="อายุ" type="text">
					</div> <!-- form-group// -->
					<!-- <div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-building"></i> </span>
						</div>
						<select class="form-control" formControlName="roleId">
							<option selected="" value=""> กรุณาเลือก Role</option>
							<option *ngFor="let item of roleList" value="{{item.id}}">{{item.roleName}}</option>
						</select>
					</div> form-group end.// -->
				<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input formControlName="userName" class="form-control" placeholder="ชื่อผู้ใช้" type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input formControlName="password" class="form-control" placeholder="รหัสผ่าน" type="password" >
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input formControlName="confirmPassword" class="form-control" placeholder="ยืนยันรหัสผ่าน" type="password">
					</div> <!-- form-group// -->    
					<div>
						<p *ngIf="isPassword"> กรุณากรอก รหัสผ่าน ให้ตรงกันกับด้านบ้านด้วยค่ะ </p>
					</div>                                 
					<div class="form-group">
						<button type="submit" class="btn btn-dark btn-block"> ยืนยัน  </button>
					</div> <!-- form-group// -->      
				</div>                                                             
			</form>
			<div class="text-center text-lg-start mt-4 pt-2">
			  <p class="small fw-bold mt-2 pt-1 mb-0"><a href="/login"
				  class="link-danger">เข้าสู่ระบบ</a></p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  