<!-- <div *ngFor="let order of orderList; let i = index">
  <div class="bg-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
    <h4 class="text-white text-capitalize ps-3">คำสั่งซื้อ</h4>
    <div class="ms-auto d-flex gap-2">
      <button class="btn btn-danger me-3" (click)="onDeleteOrder(order.ordersId)">
        ลบ
      </button>
    </div>
  </div>
  <div class="alert alert-light">
    <table class="table">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            ไอดี ออเดอร์
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            ไอดี ผู้ใช้
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            ชื่อ-นามสกุล
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            เบอร์ติดต่อ
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            สถานะการชำระเงิน
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            วันที่สั่งสินค้า
          </th>
          <th class="text-uppercase text-secondary text-x font-weight-bolder">
            ที่อยู่
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="align-middle text-center">
            <p class="text-x font-weight-bold mb-0">{{ order.ordersId }}</p>
          </td>
          <td class="align-middle text-center">
            <p class="text-x font-weight-bold mb-0">{{ order.userId }}</p>
          </td>
          <td class="align-middle text-center">
            <p class="text-x font-weight-bold mb-0">
              {{ order.name }}
            </p>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-x font-weight-bold">{{
              order.phone
              }}</span>
          </td>
          <td class="align-middle text-center" >
            <span *ngIf="order.status == '1'" class="badge badge-x bg-gradient-warning">กำลังตรวจสอบ</span>
            <span *ngIf="order.status == '2'" class="badge badge-x bg-gradient-success">ชำระเงินเเล้ว รอรับสินค้า</span>
            <span *ngIf="order.status == '3'" class="badge badge-x bg-gradient-danger">ยังไม่ชำระเงิน</span>
            <span *ngIf="order.status == '4'" class="badge badge-sm bg-gradient-secondary">ชำระเงินไม่ครบตามจำนวน</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-x font-weight-bold">{{
              order.createDate | date : "medium"
              }}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-x font-weight-bold">{{
              order.shippingAddress
              }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <a (click)="setSelectedProduct(order)"class="pencil-icon" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-pencil"></i>
    </a>
  </div>

  <h3>สินค้า</h3>

  <table class="table">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-x font-weight-bolder">
          รูปสินค้า
        </th>
        <th class="text-uppercase text-secondary text-x font-weight-bolder">
          รายละเอียดสินค้า
        </th>
        <th class="text-uppercase text-secondary text-x font-weight-bolder" style="width: 10px">
          ราคา
        </th>
        <th class="text-uppercase text-secondary text-x font-weight-bolder" style="width: 10px">
          จำนวน
        </th>
        <th class="text-uppercase text-secondary text-x font-weight-bolder" style="width: 10px">
          ราคารวม
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of order.productList; let i = index">
        <td>
          <div class="d-flex px-2 py-1">
            <div>
              <img *ngIf="product.imgList.length > 0" [src]="product.imgList[0]"
                class="avatar avatar-sm me-3 border-radius-lg" alt="Product Image" />
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0 text-sm">{{ product.productName }}</h6>
            <p style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 80ch;
              ">
              {{ product.productDesc }}
            </p>
          </div>
        </td>

        <td class="align-middle text-center text-sm">
          <span class="text-secondary text-x font-weight-bold">{{
            product.price | currency : " ฿ "
            }}</span>
        </td>
        <td class="align-middle text-center">
          <span class="text-secondary text-xs font-weight-bold">{{ getQuantity(order, product.productId) }} ชิ้น</span>
        </td>
        <td class="align-middle text-center text-sm">
          <span class="text-secondary text-danger font-weight-bold">{{
            product.price * getQuantity(order, product.productId)
            | currency : " ฿ "
            }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let order of orderList; let i = index" class="modal fade pt-6" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <div class="modal-header bg-dark shadow-dark">
        <h4 class="modal-title text-white" id="exampleModalLabel">
          แก้ไขข้อมูล
        </h4>
        <button type="button" class="btn-close red-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-15">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="username" class="col-4 col-form-label">ชื่อ</label>
                <div class="col-12">
                  <input formControlName="name" placeholder="{{ order.name }}" class="form-control here" required="required" type="text" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-4 col-form-label">เบอร์</label>
                <div class="col-12">
                  <input class="form-control" type="text" name="phonenumber_invoice"
                    placeholder="{{ order.phone }}" formControlName="phone" />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-4 col-form-label">ที่อยู๋</label>
                <div class="col-12">
                  <textarea type="text" class="form-control" rows="3" placeholder="{{ order.shippingAddress }}"
                    formControlName="shippingAddress"></textarea>
                </div>
              </div>

              <br />
              <div class="form-group row text-end">
                <div class="col-12">
                  <button type="submit" class="btn btn-warning btn-lg">
                    แก้ไขโปรไฟล์
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div  class="overflow-hidden">

  <div *ngFor="let order of orderList" class="overflow-hidden p-3">
    <div class="relative">
      <div class="flex gap-4">
        <div class="mt-2 flex-grow">
          <div class="w-full id p-3 rounded-md shadow-md flex items-baseline">
            <!-- <h5 class="text-base font-medium text-gray-500">รหัสการซื้อ</h5>
            <span class="text-sm font-extrabold ml-4 me-5">{{ order.ordersId }}</span>
            <h5 class="text-base font-medium text-gray-500">รหัสผู้ใช้</h5>
            <span class="text-sm font-extrabold ml-4 me-5">{{ order.userId }}</span> -->
            <h5 class="text-base font-medium text-gray-500">ขื่อ</h5>
            <span class="text-sm font-extrabold ml-4 me-5">{{ order.name }}</span>
            <h5 class="text-base font-medium text-gray-500">เบอร์โทร</h5>
            <span class="text-sm font-extrabold ml-4 me-5">{{ order.phone }}</span>
            <h5 class="text-base font-medium text-gray-500">ที่อยู่</h5>
            <span class="text-sm font-extrabold ml-4 me-5">{{ order.shippingAddress }}</span>
            <p class=" text-gray-500 ml-auto text-end">ราคารวมค่าส่ง : </p>
            <span class="text-sm font-extrabold  text-orange-400"> {{ calculateOrderTotalPriceForOrder(order) | currency : '฿' }}</span>
            
          </div>
        </div>
        
    <div *ngFor="let payment of order.paymentImage; let i = index">
    <div *ngIf="order.paymentImage && order.paymentImage.length > 0; else noPaymentImage">
      <div *ngIf="payment.imgList.length > 0" (click)="payments(payment)" class="form-group"
        data-bs-toggle="modal"
        data-bs-target="#FormModal25">
        <img [src]="payment.imgList[0]" class="product-img" alt="Payment Image" width="70" />
      </div>
    </div>
  

    <ng-template #noPaymentImage>
      <p class="text-bold">เก็บเงินปลายทาง</p>
    </ng-template>
  </div>

  <div class="modal fade" id="FormModal25" tabindex="-1" aria-labelledby="FormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
  
        <div class="modal-body">
          <form>
            <div class="d-flex justify-content-center">
              <div *ngIf="selectedpayments && selectedpayments.imgList.length > 0">
                <img [src]="selectedpayments.imgList[0]" class="product-img border-radius-lg mx-auto d-block"
                  alt="Payment Image" />
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
    
        <!-- <div class="mt-4 pl-4">
          <div class="w-full id p-3 rounded-md shadow-md flex items-center">
            <h5 class="text-base font-medium text-gray-500">ชื่อผู้ซื้อ</h5>
            <div class="flex items-baseline">
              <span class="text-xl font-extrabold ml-4">{{ order.name }}</span>
            </div>
          </div>
        </div> -->
      </div>
      <table class="w-full bg-gray-200 shadow-md rounded-lg divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase"></th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">ชื่อสินค้า</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">รหัสผู้ใช้</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">ราคา</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">จำนวน</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">ราคารวม</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">เวลาการสั่ง</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">สถานะ</th>
            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">จัดการ</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 rounded-md shadow-md">
          <tr *ngFor="let product of order.productList; let i = index" class="bg-white">
            <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <img *ngIf="product.imgList.length > 0" [src]="product.imgList[0]" class="w-16 h-16 object-cover border-radius-lg" alt="Product Image"/>
            </td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500 truncate">{{ product.productName }}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500 truncate">{{ order.userId }}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm">{{ product.price | currency : '฿' }}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">{{ getQuantity(order, product.productId) }}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-orange-400">{{product.price * getQuantity(order, product.productId)| currency : " ฿ "}}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">{{order.createDate | date : "medium"}}</td>
            <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">
            <span *ngIf="order.status == '1'" class="badge badge-x bg-gradient-warning">กำลังตรวจสอบ</span>
            <span *ngIf="order.status == '2'" class="badge badge-x bg-gradient-success">ชำระเงินเเล้ว รอรับสินค้า</span>
            <span *ngIf="order.status == '3'" class="badge badge-x bg-gradient-danger">ยังไม่ชำระเงิน</span>
            <span *ngIf="order.status == '4'" class="badge badge-sm bg-gradient-secondary">ชำระเงินไม่ครบตามจำนวน</span>
            </td>
            <td class="px-2 py-4 whitespace-nowrap text-sm font-medium">
              <button (click)="setSelectedProduct(order)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-yellow-600 rounded-md hover:underline me-4">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <!-- <button (click)="onDeleteOrder(order.ordersId)" class="text-orange-400 rounded-md hover:underline">
                <i class="fas fa-trash-alt"></i>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngFor="let order of orderList; let i = index" class="modal fade pt-6" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <div class="modal-header bg-white ">
        <h4 class="modal-title text-black" id="exampleModalLabel">
          แก้ไขข้อมูล
        </h4>
        <button type="button" class="btn-close red-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-15">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="username" class="col-4 col-form-label">ชื่อ</label>
                <div class="col-12">
                  <input formControlName="name" placeholder="{{ order.name }}" class="form-control here" required="required" type="text" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-4 col-form-label">เบอร์</label>
                <div class="col-12">
                  <input class="form-control" type="text" name="phonenumber_invoice"
                    placeholder="{{ order.phone }}" formControlName="phone" />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-4 col-form-label">ที่อยู๋</label>
                <div class="col-12">
                  <textarea type="text" class="form-control" rows="3" placeholder="{{ order.shippingAddress }}"
                    formControlName="shippingAddress"></textarea>
                </div>
              </div>

              <br />
              <div class="form-group row text-end">
                <div class="col-12">
                  <button type="submit" class="btn btn-dark btn-lg">
                    แก้ไข
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>